body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 25px;
	background-color: rgba(31, 67, 94, 0.1);
}

/* header styles */

header{
	background-color: #F0B114;
	text-align:center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Rowdies', cursive;
}

header h1{
	color: black;
	font-size: 50px;


}

header img{
	border-radius: 170px;
	width: 300px;
	border: 10px solid black;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 30px;
	color: #a01a16;
	margin:40px 0 10px;

}

a{
	color: #a01a16;
}

a:hover{
	color: white;
}

footer{
	background-color: #F0B114;
	text-align:center;
	color: white;
	padding: 10px;
}

footer a{
	color: black;
}

footer p{
	margin: 0;
}

p.caption{
	color: grey;
	font-style: italic;
	margin-top: 0;
}

